#main {
    width: 1024px;
    position: relative;
    margin: auto;
    height: 1024px;
    margin-top: 30px;
    background-color: darkcyan;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
}

nav {
    margin: auto;
    width: 1024px;
    position: relative;
}

p {
    font-size: 16px;
}

body {
    background-color: beige;
}

footer {
    margin: auto;
    text-align: right;
    width: 1024px;
    margin-top: 8px;
}

input {
    margin-top: 5px;
}