.title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 36px;
}

main {
    font-size: 22px;
    line-height: 1.3;
    color: var(--text);
}

pre {
    margin: 8px;
    background-color: beige;
    border: 1px solid black;
    padding: 6px;
}

/* pre often contains a code block, we cannot select
code that is not in pre, so we must select code that is
a descendent of other things. */
p>code {
    background-color: lightgray;
}

li>code {
    background-color: lightgray;
}