aside {
    display: none;
}

.rightcolumn {
    display: none;
}

div.navigationrow {
    display: none;
}

div.breadcrumbs {
    display: none;
}

main {
    font-size: 12px;
}

footer {
    display: none;
}

hr.footerline {
    display: none;
}

a {
    text-decoration: none;
}