:root {
    --bg: #336270;
    --bars: #3a96b2;
    --hover: #59c0e0;
    --sidemenu: #50adba;
    --body: #dee3f7;
    --text: black;
    --linktext: white;
    --menuborder: black;
    --listshadow: #1c3d47;
}

body {
    margin: 0;
    background-color: var(--bg);
}

div.body {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

html {
    height: 100%;
}

.middlecolumn {
    padding: 16px;
    border-radius: 12px;
    margin: 0 6px;
    width: 62%;
    background-color: var(--body);
    order: 2;
    flex-grow: 9;
    flex-basis: 65;
}


@media (max-width: 1166px) {

    .middlecolumn {
        border-radius: 0;
        margin: 0;
    }
}