#main {
    width: 1024px;
    position: relative;
    margin: auto;
    height: 1024px;
    margin-top: 30px;
    background-color: darkcyan;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
}

body {
    margin: 0px;
}

.headerdiv {
    background-color: cornflowerblue;
}

header {
    width: 1400px;
    margin: auto;
    margin-top: 0px;
    height: 240px;
}

header>h1 {
    text-align: center;
    padding: 24px;
    margin: 0px;
    font-size: 48px;
}

ul.headernav {
    width: 100%;
    margin: 0%;
}

li.headernav {
    list-style: none;
    border: 2px solid black;
    padding: 10px;
    width: auto;
    display: inline;
    background-color: blue;
}

a.headernav {
    color: white;
    width: auto;
}

nav {
    margin: auto;
    width: 200px;
    position: relative;
    float: left;
    border: 2px solid black;
    height: 360px;
}

.main {
    width: 1400px;
    margin: auto;
}

p {
    font-size: 16px;
}

body {
    background-color: beige;
}

footer {
    margin: auto;
    text-align: right;
    width: 1024px;
    margin-top: 8px;
}

input {
    margin-top: 5px;
}

li.header {
    border: solid black 2px;
    padding: 10px;
    background-color: blue;
    list-style: none;
    display: inline;
}

a.header {
    color: white;

}