<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="keywords" content="{{ .Site.Params.Keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/site.css">
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/footer.css">
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/content.css">
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/listnav.css" />
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/breadcrumbs.css" />
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/sitenav.css" />
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/sectionmenu.css" />
    <link rel="stylesheet" href="{{ .Site.Params.Root }}/css/tocmenu.css" />

    <link rel="stylesheet" media="print" href="{{ .Site.Params.Root }}/css/print.css" />
    {{- block "wasm-head" . }}

    {{- end }}
</head>

<body>
    {{- partial "sitenav.html" . }}
    <div class="body">
        {{- if not .IsHome }}
        {{- partial "sectionmenu.html" . }}
        {{- else }}
        <div></div>
        {{- end }}
        {{- if not .IsHome }}
        {{- partial "tocmenu.html" . }}
        {{- else }}
        <div></div>
        {{- end }}
        <div class="middlecolumn">
            {{- partial "breadcrumbs.html" . }}
            <article>
                <main>
                    <h1 class="title">{{ .Params.title }}</h1>
                    {{- block "main" . }}
                    Default content.
                    {{- end }}
                </main>
            </article>
            {{- partial "footer.html" . }}
        </div>
    </div>
</body>

</html>