ul.listpages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.listpages {
    border: 1px solid black;
    margin: 12px;
    padding: 12px;
    display: block;
    width: 95%;
    text-decoration: none;
    color: black;
    background-color: var(--sidemenu);
    border-radius: 8px;
    box-shadow: 6px 6px 3px var(--listshadow);
    text-align: left;
    font-size: 24px;
}

a.listpages:hover {
    background-color: var(--hover);
    box-shadow: 6px 6px 3px var(--listshadow);
}

a.listpages:active {
    background-color: var(--hover);
    box-shadow: 0;
}

.pagetitle {
    font-size: 24px;
    font-weight: bold;
}