<hr class="footerline">
<footer>
    {{- if .Params.prevlink }}
    <a class="footerprevious" href="{{ .Params.prevlink }}">
        <img src="/icons/arrow-left-circle-black.png" class="footerarrow arrow" /><span class="footerlinktext">
            previous</span></a>
    {{- else if .NextInSection }}
    <a class="footerprevious" href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">
        <img src="/icons/arrow-left-circle-black.png" class="footerarrow arrow" /><span class="footerlinktext">
            previous</span></a>
    {{- else }}
    <div></div>
    {{- end }}
    <div class="footermiddle">
        {{- if .Lastmod }}
        <div class="lastmod">Last Modified: <time datetime="{{ .Lastmod }}">
                {{ .Lastmod.Format "January 2, 2006" }}</time></div>
        {{- end }}
        <b>&#169; {{ .Site.Copyright }}</b>
    </div>
    {{- if .Params.nextlink }}
    <a class="footernext" href="{{ .Params.nextlink }}">
        <span class="footerlinktext">next </span>
        <img src="/icons/arrow-right-circle-black.png" class="footerarrow arrow" /></a>

    {{- else if .PrevInSection }}
    <a class="footernext" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">
        <span class="footerlinktext">next </span>
        <img src="/icons/arrow-right-circle-black.png" class="footerarrow arrow" /></a>
    {{- else }}
    <div></div>
    {{- end }}
</footer>